
* {
	outline: none;
	box-sizing:border-box;
}

body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica Neue", sans-serif;
}

/* overrides to jsapi css */

.esriSimpleSlider {
	display: none !important;
}

table {
	color: #fff !important;
}

.esriLegendLayerLabel, .esriLegendLayer {
	color: #fff !important;
}

.esriLegendServiceLabel {
	display: none !important;
}

/* overrides to jsapi css */

#mapdiv {
    width:100%;
    height:100%;
	display:block;
}

#header {
	height: 71px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 100;
	color: #fff;
	background: rgba(0,0,0,0.5);
}

#title {
	position: absolute;
	top: 15px;
	left: 90px;
	font-size: 30px;
	z-index: 100;
}

#title h3 {
	margin: 0px;
}

#connect-status {

	border-radius: 23px;
	position: absolute;
	top: 2px;
	right: 7px;
	z-index: 100;
}

#help-text {
	display: inline-block;
	position: absolute;
	right: 100px;
	top: 20px;
	font-size: 20px;
}

#legend-div {
	background: rgba(0,0,0,0.4);
	display: none;
	min-height: 200px;
	max-height: 500px;	
	min-width: 250px;
	max-width: 400px;
	overflow-y: auto;
	position: absolute !important;
	right: 10px;
	top: 200px;
	padding: 20px;
	border-radius: 5px;
	color: #fff !important;
}

#help-pics {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: rgba(255,255,255, 0.6);
	width: 100%;
	z-index: 100;
}

.connected {
	background-color: rgb(43, 187, 89);
}

.disconnected {
	background-color: rgb(230, 100, 100);
}